.name-with-checkbox {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  width: 43%;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  width: 1.5rem;
  height: 1.5rem;
}
