@mixin mobile-screen {
  @media (max-width: 767px) {
    @content;
  }
}

.name-with-checkbox {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  width: 43%;
  justify-content: space-between;
  align-items: center;

  @include mobile-screen {
    margin: 0.5rem 0 1rem 1rem;
  }
}

.checkbox {
  width: 1.5rem;
  height: 1.5rem;
}
