.name-with-textfield,
.name-with-input {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: 100%;
}
.name-with-input {
  width: 43%;
}

.inputfield {
  height: 2.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  color: white;
  font-size: 24px;
}

.textfield {
  height: 10rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  color: white;
  font-size: 24px;
  resize: none;
}
